/* =======================FORM STYLES ============================ */

.form-card {    
  box-shadow:
  0 2.8px 2.2px rgba(0, 0, 0, 0.034),
  0 6.7px 5.3px rgba(0, 0, 0, 0.048),
  0 12.5px 10px rgba(0, 0, 0, 0.06),
  0 22.3px 17.9px rgba(0, 0, 0, 0.072),
  0 41.8px 33.4px rgba(0, 0, 0, 0.086),
  0 100px 80px rgba(0, 0, 0, 0.12);
  border-radius: 10px;
}

.remove-diver-btn {
  font-size: 0.6rem!important;
  padding: 10px!important;
}

.remove-extra-diver-btn {
  background-color: red;
  color:white;
  line-height: inherit;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.remove-extra-diver-btn:hover {
  cursor: pointer;
}

@media (min-width:400px){
  .remove-extra-diver-btn {
    min-width: 4rem;
  }
}


label {
  font-weight: 500;
  font-size: 1.1rem;
}

.form-control.textinput  {
  padding: 2rem 1rem;
    outline: none;
    border: none;
}

.form-control.emailinput  {
  padding: 2rem 1rem;
    outline: none;
    border: none;
}

.form-control.textarea  {
  padding: 1rem;
    outline: none;
    border: none;
}

textarea {
  padding: 2rem;
  outline: none;
  border: none;
}

textarea:focus, input:focus {
  border-color: transparent !important;
}


input::-webkit-input-placeholder { color: #999999;}
input:-moz-placeholder { color: #999999;}
input::-moz-placeholder { color: #999999;}
input:-ms-input-placeholder { color: #999999;}

textarea::-webkit-input-placeholder { color: #999999;}
textarea:-moz-placeholder { color: #999999;}
textarea::-moz-placeholder { color: #999999;}
textarea:-ms-input-placeholder { color: #999999;}

#contactSubmit {
  width: 50%;
}