{% extends 'core/base.html' %}

{% load crispy_forms_tags %}
{% block content %}
<section id="sites-heading">

    <div class="hero-bg">
        <div class="container title-text">
            <h1 class=" header">Reuqest Success</h1>
            <hr class="my-5 bg-light w-50 shadow-lg">
        </div>
    </div>
</section>


<div class="container my-5">
    <div class="row justify-content-center">
        <div class="col-md-12 text-center">
            <h3>Thank you for your request!</h3>
            <div class="heading-underline"></div>
        </div>
        <div class="col-md-10 bg-dark text-light mb-5 p-5">
            <p>We will contact you shortly!</p>
        </div>
        <div class="col-md-6">

        </div>
        <div class="col-md-6">

        </div>
    </div>
</div>


{% endblock content %}