{% extends 'core/base.html' %}

{% load crispy_forms_tags %}
{% block content %}
<section id="sites-heading">

    <div class="hero-bg">
        <div class="container title-text">
            <h1 class=" header">Course Booking Request</h1>
            <hr class="my-5 bg-light w-50 shadow-lg">
        </div>
    </div>
</section>



<div class="container my-5">
    <div class="row justify-content-center">
        <div class="col-md-12 text-center">
            <h3 class="">Send us a request for your next PADI course</h3>
            <div class="heading-underline"></div>
        </div>
        <div class="col-md-10 form-card bg-dark text-light mb-5 p-md-5">
            <form action="" method="POST">
                {% csrf_token %}
                {{ form.non_field_errors }}

                <div class="form-group mt-5">
                    <label for="{{ form.full_name.id_for_label }}">Diver Name</label>
                    {{ form.full_name }}
                    {{ form.full_name.errors }}
                </div>

                <div id="extra-divers" class="form-group">
                </div>

                <div class="form-group mt-4">
                    <a id="add-a-diver" class="btn btn-block btn-md-inline btn-primary btn-sm"><small>Add a diver
                            <i class="fas fa-plus text-white"></i></small> </a>
                </div>

                <div class="form-group">
                    <label for="{{ form.email.id_for_label }}">Email</label>
                    {{ form.email }}
                    {{ form.email.errors }}
                </div>

                <div class="form-group">
                    <label for="{{  form.course.id_for_label }}">Select your course</label>
                    {{  form.course }}
                    {{ form.course.errors }}
                </div>

                <div class="form-group">
                    <label for="{{  form.date.id_for_label }}">Select a preferred Date</label>
                    {{ form.date }}
                    {{ form.date.errors }}
                </div>

                <div class="form-group">
                    <label for="{{  form.message.id_for_label }}">Enter a message</label>
                    {{ form.message }}
                    {{ form.message.errors }}
                </div>

                <div class="form-group text-center my-5">
                    <button type="submit" class="btn btn-success">Submit</button>
                </div>

            </form>
        </div>
    </div>
</div>

{% endblock content %}

{% block extra_scripts %}
<script type="text/javascript">
    extra_diver = 0
    $('#add-a-diver').on('click', e => {
        e.preventDefault;
        addDiverInput()
    })

    function addDiverInput() {
        extra_diver++
        // create input group div
        div = document.createElement('div')
        div.innerHTML =
            `    
        <div class="form-group">         
            <div class="input-group">
                <input type="text" class="form-control" name=extra_diver_${extra_diver} placeholder="Enter divers full name">
                <div class=""><i class="remove-extra-diver-btn trash-icon fas fa-trash px-auto"></i></div>
            </div>
        </div>
        `
        button = div.children[0].children[0].children[1].children[0]
        input = div.children[0].children[0].children[0]
        input.setAttribute('required', true)
        button.onclick = removeDiverInput
        $('#extra-divers').append(div)
        input.focus()
        console.log(input)
    }

    function removeDiverInput(e) {
        e.target.parentElement.parentElement.remove()
        console.log(extra_diver)

    }
</script>
{% endblock extra_scripts %}