{% load static %}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="stylesheet" media="all" href="{% static 'core/css/email-google-fix.css' %}" />
    <link rel="stylesheet" media="all" href="{% static 'core/css/email-bootstrap.css' %}" />
    <link rel="stylesheet" media="all" href="{% static 'core/css/bootstrap.min.css' %}" />

    <style>
        <!-- Add custom styles that you want inlined here 
        -->
    </style>
</head>
<!-- Edit the code below this line -->
<preview>Amazing email, the best!</preview>

<body class="bg-light">
    <div class="container">
        <img class="mx-auto mt-4 mb-3 text-center" width="42" height="30"
            src="http://www.scubadivedubai.com/static/core/img/logo.png" />
        <div class="card mb-4" style="border-top: 5px solid #0A9CBF;">
            <div class="card-body">
                <h4 class="text-center">Thank's for your booking!</h4>
                <h5 class="text-muted text-center">PADI Course</h5>

                <hr />

                <h5 class="text-center"><strong>Booking Details</strong></h5>
                <table class="table">
                    <tbody>
                        <tr>
                            <td style="border-top: 0;">Diver Name: {{ divername }}</td>
                            {% if extra_divers %}
                            {% for diver in extra_divers %}
                            <td style="border-top: 0;">Diver Name: {{ divername }}</td>
                            {% endfor %}
                            {% endif %}
                            <td style="border-top: 0;" class="text-right">Advanced Open Water</td>
                            <td style="border-top: 0;" class="ml-5 text-right">Full Equipment</td>
                        </tr>
                        <tr>
                            <td></td>
                            <td>Boat Dive</td>
                            <td>
                                <h4 class="text-right"><strong>1:30pm</strong></h4>
                            </td>
                        </tr>
                    </tbody>
                </table>

            </div>
        </div>

        <div class="card w-100 mb-4">
            <div class="card-body">
                <img width="50" height="50" class="mx-auto"
                    src="https://s3.amazonaws.com/lyft.zimride.com/images/emails/enterprise/briefcase_dark_large.png">
                <h4 class="text-center">Your are the best diver</h4>
                <p class="text-center">Scuba diving is the best.</p>
                <a class="btn btn-primary btn-lg mx-auto mt-2" href="http://scubadivedubai.com">Visit our website</a>
            </div>
        </div>



        <table class="table-unstyled text-muted mb-4">
            <tbody>
                <tr>
                    <td>&copy; Sandy Beach Dive Centre</td>
                    <td>
                        <img class="float-right pl-2" width="20" height="20"
                            src="https://s3.amazonaws.com/lyft.zimride.com/images/emails/social/v2/facebook@2x.png" />
                        <img class="float-right pl-2" width="20" height="20"
                            src="https://s3.amazonaws.com/lyft.zimride.com/images/emails/social/v2/twitter@2x.png" />
                        <img class="float-right" width="20" height="20"
                            src="https://s3.amazonaws.com/lyft.zimride.com/images/emails/social/v2/instagram@2x.png" />
                    </td>
                </tr>
                <tr>
                    <td>Sandy Beach Hotel and Resort</td>
                </tr>
                <tr>
                    <td>Fujairah, UAE</td>
                    <td class="text-right">We like diving!</td>
                </tr>
            </tbody>
        </table>

    </div>

</body>

</html>