{% extends 'core/base.html' %}


{% block content %}
<section id="sites-heading">

    <div class="hero-bg">
        <div class="container title-text">
            <h1 class="header">{{ site.title }}</h1>
            <hr class="my-5 bg-light w-50 shadow-lg">
            <div class="os-animation text-center" data-animation="fadeInUp" data-delay="0.6s">
                <a class="btn btn-success text-1 font-weight-semibold text-uppercase px-5 btn-py-2 mb-3"
                    href="{% url 'diving:booking-request' %}">Request a booking</a>
            </div>
        </div>
    </div>

</section>



<div class="container content-section my-3 h-100">
    <div class="row pt-3 ">
        <div class="col-12 col-md-8 order-2 order-md-1">
            <h3 class="text-center">Site Description</h3>
            <div class="heading-underline"></div>
            <p>{{ site.info | linebreaks }}</p>
        </div>

        <div class="col-12 mb-5 col-md-4 order-md-2">
            <div>
                <div class="card">
                    <h3 class="text-center pt-5 pt-md-0 pb-2">Site Info</h3>
                    <div class="heading-underline"></div>
                    <ul class="site-info list-group list-group-flush">
                        <li class="list-group-item"><b>Minimum Diver Level: </b>{{ site.min_diver_level }}</li>
                        <li class="list-group-item"><b>Depth: </b>{{ site.depth }}m</li>
                        <li class="list-group-item"><b>Dive Site Type: </b>{{ site.site_type }}</li>
                        <li class="list-group-item"><b>Dive Time: </b>{{ site.dive_time }} Min</li>
                        <li class="list-group-item"><b>Distance to Site: </b> {{ site.distance }} Min</li>
                        <li class="list-group-item"><b>What can we see?: </b>
                            {% for marine_life in site.marine_life.all %}
                            {{ marine_life }},
                            {% endfor %}
                        </li>
                    </ul>
                </div>

            </div>
        </div>

    </div>
</div>

<div class="container">
    <div class="row my-5 justify-content-center">
        <div class="col-12 text-center">
            <h3 class="mb-3">Dive Site Map</h3>
            <div class="heading-underline"></div>
            <div class="divesite-map">
                <img src="{{ site.map_image.url }}" id="img" class="divesite-map-image__img" alt="{{ site.title }}">
            </div>
        </div>


    </div>

</div>

<!-- booking button -->
<section class="bg-white py-5">
    <div class="container text-center">
        <h3 class="text-shadow pb- wow fadeInUp">Request a Booking!</h3>
        <div class="heading-underline wow fadeIn"></div>
        <p class=" pb-4">Send us a message to check availability for our next boat diving trip</p>
        <a href="{% url 'diving:booking-request' %}" class="btn btn-success btn-lg wow fadeIn">Send your
            Request</a>
    </div>
</section>

<!-- end booking button -->


{% endblock content %}