{% extends 'core/base.html' %}

{% block extra_head %}
<style>
    .course-hero-image {
        background-image: url({{ dive.image.mobile_image.url }});
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
        background-position: center;
    }


    @media (min-width: 400px) {
        .course-hero-image {
            background-image: url({{ dive.image.hero_image.url }});

        }
    }
</style>

{% endblock extra_head %}

{% block content %}

<section id="course-detail-heading">

    <div class="course-hero-overlay ">
        <div class="text-center title-text container">
            <h1 class="header wow fadeInUp">{{ dive.title }}</h1>
            <hr class="my-5 bg-light w-50 shadow-lg wow fadeIn ml-auto mr-auto">
            <a href="{% url 'diving:booking-request' %}" class="btn wow fadeIn btn-success btn-lg">Request a
                Booking!</a>
        </div>
        <a class="arrow-down" href="#pricing"><i class=" fa fa-chevron-down fa-3x " aria-hidden="true">&nbsp;</i></a>
    </div>
    <div class="course-hero-image">
    </div>

</section>

<!-- Pricing card -->
<section id="pricing" class="dive-trip-price-card-section bg-white py-5">
    <div class="container-lg">
        <h2 class="text-center pb-4 text-shadow">Pricing</h2>
        <div class="heading-underline"></div>

        <!-- Price row -->

        <!-- Tanks and Weights Card -->
        <div class="row mt-5">

            {% for price in prices %}

            <div class="col-md-4">
                <div class="price-card card bg-light shadow-lg text-center mb-5">
                    {% if price.dive_trip_equipment == 'Full Kit' %}
                    <div class="popular-ribbon">Popular</div>

                    {% endif %}
                    <div class="card-header text-center bg-dark pt-4 ">
                        <h4 class="card-title-text">{{ price.dive_trip_equipment }}</h4>
                        <div class="heading-underline"></div>
                    </div>
                    <div class="card-body py-3">
                        <h1><b>{{ price.price }} </b><small class="text-muted">AED</small></h1>
                    </div>
                    <ul class="list-group list-group-flush bg-light">
                        {% if price.dive_trip_equipment == 'Full Kit' %}
                        <li class="list-group-item bg-light"><i class="fas fa-check text-success mx-2"></i>
                            Full Equipent Rental
                        </li>
                        {% endif %}

                        {% if price.dive_trip_equipment == 'Tanks and Weights' %}
                        <li class="list-group-item bg-light"><i class="fas fa-check text-success mx-2"></i>
                            Tanks and Weights only
                        </li>
                        {% endif %}

                        {% if price.dive_trip_equipment == 'Excluding Equipment' %}
                        <li class="list-group-item bg-light"><i class="fas fa-check text-success mx-2"></i>
                            No Tanks or Equipment
                        </li>
                        {% endif %}
                        {% if dive.title == 'Boat Dive' %}
                        <li class="list-group-item bg-light"><i class="fas fa-check text-success mx-2"></i>
                            Boat Trip
                        </li>
                        <li class="list-group-item bg-light"><i class="fas fa-check text-success mx-2"></i>
                            Two Awesome Dive Sites
                        </li>

                        {% elif dive.title == 'Shore Dive' %}
                        <li class="list-group-item bg-light"><i class="fas fa-check text-success mx-2"></i>
                            Full Day Hotel Access
                        </li>
                        {% endif %}
                    </ul>

                </div>
            </div>

            {% endfor %}

            <!-- End Tanks and weights Card -->

        </div>
    </div>
    <!-- End course price card row -->
</section>


<!-- info section -->
<section>
    <div class="container course-info-section">

        <!-- Course Overview row -->
        <div class="row course-info-row">
            <div class="col-md-6 d-flex align-items-center">
                <div class="course-info-text wow fadeInLeft">
                    <h3 class="text-center pb-4 ">Schedule</h3>
                    <div class="heading-underline"></div>

                    <p>{{ dive.schedule | linebreaks }}</p>

                    {% if dive.title == 'Boat Dive' %}
                    <div class="row">
                        <div class="col-md-6">
                            <div class="card bg-light">
                                <div class="card-header bg-dark">
                                    <h5 class="text-light">Morning Trip</h5>
                                </div>
                                <div class="card-body">
                                    <ul>
                                        <li>9am - Meeting Time</li>
                                        <li>9am - Boat Departure</li>
                                        <li>Visit 2 dive sites</li>
                                        <li>12:30pm - Boat Returns</li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6 animated">
                            <div class="card bg-light">
                                <div class="card-header bg-dark">
                                    <h5 class="text-light">Afternoon Trip</h5>
                                </div>
                                <div class="card-body">
                                    <ul>
                                        <li>12:30pm - Meeting Time</li>
                                        <li>1:30pm - Boat Departure</li>
                                        <li>Visit 2 dive sites</li>
                                        <li>5pm - Boat Returns</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endif %}

                    {% if dive.title == 'Shore Dive' %}

                    <h6 class="">Need a dive guide or an extra cylinder for a second or third dive?</h6>
                    <ul>
                        <li><i class="fa fa-plus  text-primary mr-2" aria-hidden="true"></i>50 AED - Divemaster
                        </li>
                        <li><i class="fa fa-plus  text-primary mr-2" aria-hidden="true"></i>50 AED - Extra cylinder
                        </li>
                    </ul>

                    {% endif %}

                </div>

            </div>
            <div class="col-md-6 text-center order-md-1">
                <div class="course-info-img">
                    <img src="{{ dive.schedule_image.medium_image.url }}" alt="">
                </div>
            </div>
        </div>
        <!-- End Course Overview row -->

        <!-- Dive description row -->
        <div class="row course-info-row">
            <div class="col-md-6 d-flex align-items-center order-md-2">
                <div class="course-info-text wow wow fadeInRight">
                    <h3 class="text-center pb-4 ">Dive description</h3>
                    <div class="heading-underline"></div>
                    <p>{{ dive.description | linebreaks }}</p>

                </div>

            </div>
            <div class="col-md-6 text-center ">
                <div class="course-info-img ">
                    <img src="{{ dive.description_image.medium_image.url }}" alt="">
                </div>
            </div>
        </div>
        <!-- End Dive description row -->

    </div>
</section>
<!-- end info sections -->

<!-- booking button -->
<section class="bg-white py-5">
    <div class="container text-center">
        <h3 class="text-shadow pb- wow fadeInUp">Request a Booking!</h3>
        <div class="heading-underline wow fadeIn"></div>
        <p class=" pb-4">Send us a message to check availability for our next boat diving trip</p>
        <a href="{% url 'diving:booking-request' %}" class="btn btn-success btn-lg wow fadeIn">Send your
            Request</a>
    </div>
</section>

<!-- end booking button -->

</div>


{% endblock content %}