{% extends 'core/base.html' %}

{% block extra_head %}
<style>
    .course-hero-image {
        background-image: url({{ course.image.mobile_image.url }});
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
        background-position: center;
    }

    @media (min-width: 400px) {
        .course-hero-image {
            background-image: url({{ course.image.hero_image.url }});

        }
    }
</style>

{% endblock extra_head %}

{% block content %}

<section id="course-detail-heading">

    <div class="course-hero-overlay">
        <div class="text-center course-hero-overlay__heading title-text container">
            <h1 class="header wow fadeInUp">{{ course.title }}</h1>
            <hr class="my-5 bg-light w-50 wow fadeIn shadow-lg ml-auto mr-auto">
            <a href="{% url 'diving:course-booking-request' %}" class="wow fadeIn btn btn-success btn-lg">Request a
                Booking!</a>
        </div>

        <a class="arrow-down" href="#pricing"><i class=" fa fa-chevron-down fa-3x " aria-hidden="true">&nbsp;</i></a>
    </div>
    <div class="course-hero-image">
    </div>

</section>

<!-- Pricing card -->
<section id="pricing" class="course-price-card-section bg-white py-5">
    <div class="container-fluid">
        <div class="row  justify-content-center">
            <div class="col-12 col-md-10">
                <h2 class="text-center pb-4 text-shadow">Pricing</h2>
                <div class="heading-underline"></div>
                <!-- Course price row -->

                <!-- E-learning Card -->
                <div class="row justify-content-center mt-5">
                    {% if course.e_learning_price %}
                    <div class="col-md-4">
                        <div class="price-card card shadow-lg text-center mb-5">
                            <div class="popular-ribbon">Popular</div>
                            <div class=" card-header text-center bg-dark pt-5">

                                <h4 class="card-title-text">E-Learning</h4>
                                <div class="heading-underline"></div>
                            </div>
                            <div class="card-body bg-light pt-5">
                                <h1><b> {{ course.e_learning_price }} </b><small class="text-muted">AED</small></h1>
                            </div>
                            <ul class="list-group list-group-flush bg-light">
                                <li class="list-group-item bg-light"><i class="fas fa-check text-success mx-2"></i>
                                    Training
                                    Dives
                                </li>
                                <li class="list-group-item bg-light"><i class="fas fa-check text-success mx-2"></i>
                                    Equipment
                                    Rental
                                </li>
                                <li class="list-group-item bg-light"><i class="fas fa-times text-danger mx-2"></i> Excl
                                    E-Learning
                                    Materials
                                </li>
                            </ul>
                        </div>
                    </div>
                    {% endif %}

                    <!-- End e-learning Card -->

                    <!-- Book learning card -->
                    {% if course.book_learning_price %}
                    <div class="col-md-4">

                        <div class="price-card card bg-light shadow-lg text-center mb-5">
                            <div class="card-header text-center bg-dark pt-5 ">
                                <h4 class="card-title-text">Book Learning</h4>
                                <div class="heading-underline"></div>
                            </div>
                            <div class="card-body  pt-5">
                                <h1><b>{{ course.book_learning_price }} </b><small class="text-muted">AED</small></h1>
                            </div>
                            <ul class="list-group list-group-flush bg-light">
                                <li class="list-group-item bg-light"><i class="fas fa-check text-success mx-2"></i>
                                    Training
                                    Dives
                                </li>
                                <li class="list-group-item bg-light"><i class="fas fa-check text-success mx-2"></i>
                                    Equipment Rental
                                </li>
                                <li class="list-group-item bg-light"><i class="fas fa-check text-success mx-2"></i> Incl
                                    Learning
                                    Materials
                                </li>
                            </ul>

                        </div>
                    </div>
                    {% endif %}

                </div>
            </div>
        </div>
    </div>
    <!-- End course price card row -->
</section>

<!-- info section -->
<section>
    <div class="container course-info-section">

        <!-- Course Overview row -->
        <div class="row course-info-row">
            <div class="col-md-6 d-flex align-items-center">
                <div class="course-info-text mb-4 wow fadeInLeft">
                    <h3 class="text-center pb-4 ">Course Overview</h3>
                    <div class="heading-underline"></div>
                    <ul class="list-group list-group-flush bg-transparent">
                        <li class="list-group-item"><b>Minimum Age: </b> {{ course.min_age }} years old</li>
                        <li class="list-group-item"><b>Duration: </b> {{ course.duration }}</li>
                        {% if course.ocean_dives == True %}
                        <li class="list-group-item"><b>Number of Ocean Dives: </b>{{ course.num_ocean_dives }}
                        </li>
                        {% endif %}
                        {% if course.pool_dives == True %}
                        <li class="list-group-item"><b>Number of Pool Dives: </b>{{ course.num_pool_dives }}
                        </li>
                        {% endif %}
                        <li class="list-group-item"><b>Qualified To: </b>{{ course.qualified_to }}</li>
                    </ul>
                </div>

            </div>
            <div class="col-md-6 text-center order-md-1 mb-3">
                <div class="course-info-img">
                    <img src="{{ course.overview_image.medium_image.url }}" alt="">
                </div>
            </div>
        </div>
        <!-- End Course Overview row -->

        <!-- Course Info row -->
        <div class="row course-info-row">
            <div class="col-md-6 d-flex align-items-center order-md-2">
                <div class="course-info-text wow fadeInRight">
                    <h3 class="text-center pb-4 ">Course Info</h3>
                    <div class="heading-underline"></div>
                    <p>{{ course.description | linebreaks }}</p>

                </div>

            </div>
            <div class="col-md-6 text-center ">
                <div class="course-info-img">
                    <img src="{{ course.info_image.medium_image.url }}" alt="">
                </div>
            </div>
        </div>
        <!-- End Course Info row -->

        <!-- Course Info row -->
        <div class="row course-info-row">
            <div class="col-md-6 d-flex align-items-center order-md-2">
                <div class="course-info-text wow fadeInLeft">
                    <h3 class="text-center pb-4 ">Schedule</h3>
                    <div class="heading-underline"></div>
                    <p>{{ course.schedule | linebreaks }}</p>

                </div>

            </div>
            <div class="col-md-6 text-center order-2">
                <div class="course-info-img">
                    <img src="{{ course.schedule_image.medium_image.url }}" alt="">
                </div>
            </div>
        </div>
        <!-- End Course Info row -->

        <!-- E-Learning Info row -->
        {% if course.e_learning_info %}
        <div class="row course-info-row">
            <div class="col-md-6 d-flex align-items-center order-md-2">
                <div class="course-info-text wow fadeIn ">
                    <h3 class="text-center pb-4 ">{{ course.e_learning_info.heading }}</h3>
                    <div class="heading-underline"></div>
                    <p>{{ course.e_learning_info.text | linebreaks }}</p>
                    <a href="{{ site.get_absolute_url }}" class="text-primary d-flex justify-content-end">
                        <h6>Sign up for PADI e-learning <i class="fas fa-angle-double-right"></i></h6>
                    </a>
                </div>

            </div>
            <div class="col-md-6 text-center">
                <div class="course-info-img">
                    <img src="{{ course.e_learning_info.image.medium_image.url }}" alt="">
                </div>
            </div>
        </div>
        {% endif %}
        <!-- End E-Learning Info row -->

        <!-- Book Learning Info row -->
        {% if course.book_learning_info %}
        <div class="row course-info-row">
            <div
                class="col-md-6 d-flex align-items-center {% if course.e_learning_info %}  {% else %} order-md-2 {% endif %}">
                <div class="course-info-text wow fadeIn">
                    <h3 class="text-center pb-4 ">{{ course.book_learning_info.heading }}</h3>
                    <div class="heading-underline"></div>
                    <p>{{ course.book_learning_info.text | linebreaks }}</p>
                </div>
            </div>
            <div class="col-md-6 text-center ">
                <div class="course-info-img">
                    <img src="{{ course.book_learning_info.image.medium_image.url }}" alt="">
                </div>
            </div>
        </div>
        {% endif %}
        <!-- End Book Learning Info row -->

        <!-- Pool Dives Info row -->
        {% if course.pool_info %}
        <div class="row course-info-row">
            <div
                class="col-md-6 d-flex align-items-center {% if not course.e_learning_info %} {% else %} order-md-2 {% endif %}">
                <div class="course-info-text wow fadeIn">
                    <h3 class="text-center pb-4 ">{{ course.pool_info.heading }}</h3>
                    <div class="heading-underline"></div>
                    <p>{{ course.pool_info.text | linebreaks }}</p>
                </div>
            </div>
            <div class="col-md-6 text-center ">
                <div class="course-info-img">
                    <img src="{{ course.pool_info.image.medium_image.url }}" alt="">
                </div>
            </div>
        </div>
        {% endif %}
        <!-- End Pool Dives Info row -->

        <!-- ocean Dives Info row -->
        {% if course.ocean_info %}
        <div class="row course-info-row">
            <div
                class="col-md-6 d-flex align-items-center {% if course.e_learning_info and not course.pool_info %} order-md-2  {% elif course.e_learning_info and course.pool_info %}  {% else %} order-md-1 {% endif %}">
                <div class="course-info-text wow fadeIn">
                    <h3 class="text-center pb-4 ">{{ course.ocean_info.heading }}</h3>
                    <div class="heading-underline"></div>
                    <p>{{ course.ocean_info.text | linebreaks }}</p>
                </div>
            </div>
            <div class="col-md-6 text-center ">
                <div class="course-info-img">
                    <img src="{{ course.ocean_info.image.medium_image.url }}" alt="">
                </div>
            </div>
        </div>
        {% endif %}
        <!-- End ocean Dives Info row -->

    </div>
</section>
<!-- end info sections -->


<!-- booking button -->
<section class="bg-white py-5">
    <div class="container text-center">
        <h3 class="text-shadow pb- wow fadeInUp">Request a Booking!</h3>
        <div class="heading-underline wow fadeIn"></div>
        <p class=" pb-4">Send us a message to check availability for the next PADI course</p>
        <a href="{% url 'diving:course-booking-request' %}" class="btn btn-success btn-lg wow fadeIn">Send your
            Request</a>
    </div>
</section>
<!-- end booking button -->

</div>


{% endblock content %}