{% extends 'core/base.html' %}

{% load static %}

{% block content %}

<!-- Start of Landing Page Main Picture -->

<section id="about-us">

    <div class="landing-fh-image">
        <div class="dark-overlay">
            <div class="container d-flex h-100 justify-content-center">
                <div class="row align-content-center">
                    <div class="text-center title-text">
                        <div class="os-animation" data-animation="fadeInUp" data-delay="0.2s">
                            <h1 class="mb-4">About Us</h1> <!-- PHP WP FUNCTION PAGE TITLE -->
                        </div>
                        <div class="os-animation" data-animation="fadeInUp" data-delay="0.4s">
                            <p class="mb-5">MORE ABOUT US</p> <!-- PHP WP FUNCTION ACF -->
                        </div>
                        <div class="os-animation" data-animation="fadeInUp" data-delay="0.6s">
                            <a class="btn btn-lg btn-outline-light py-2 px-5 mt-2 shadow-sm">Sign Me Up</a>
                        </div>
                    </div>
                </div>
            </div> <!-- End Container -->
        </div> <!-- End Dark overlay -->
    </div>

</section>



<!-- End of landing page main picture -->

<!-- Meet the Team -->

<section id="team">

    <div class="jumbotron">
        <div class="container text-center min-vh-100">
            <h1 class="header mb-4 text-dark">Meet The Team</h1>
            <div class="heading-underline"></div>
            <div class="row justify-content-center align-content-center">

                <div class="col-12 col-md-6 col-xl-4 text-center mb-4">
                    <div class="os-animation" data-animation="fadeInLeft" data-delay="0.2s">
                        <div class="card">
                            <img class="card-img-top" src="{% static 'core/img/team/Pierre Profile Pic.png' %}"
                                alt="Shore Diving">
                            <div class="card-body">
                                <h2 class="card-title">Pierre du Toit</h2>
                                <p class="lead">PADI Master Instructor<br>PADI Tec Deep Instructor<br>Owner/Manager</p>
                                <p class="px-2">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore nostrum
                                    nihil non autem fugit officia ullam ab quaerat voluptatum sapiente.</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-12 col-md-6 col-xl-4 text-center mb-4">
                    <div class="os-animation" data-animation="fadeInUp" data-delay="0.2s">
                        <div class="card">
                            <img class="card-img-top" src="{% static 'core/img/team/Milan Profile Pic.png' %}"
                                alt="Shore Diving">
                            <div class="card-body">
                                <h2 class="card-title">Milan Smole</h2>
                                <p class="lead">PADI MSDT<br>Tec 40 Diver<br>Expert Teacher</p>
                                <p class="px-2">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore nostrum
                                    nihil non autem fugit officia ullam ab quaerat voluptatum sapiente.</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-12 col-md-6 col-xl-4 text-center mb-4">
                    <div class="os-animation" data-animation="fadeInRight" data-delay="0.2s">
                        <div class="card">
                            <img class="card-img-top" src="{% static 'core/img/team/Lux Profile Pic.png' %}"
                                alt="Shore Diving">
                            <div class="card-body">
                                <h2 class="card-title">Lux Rivas</h2>
                                <p class="lead">PADI Open Water<br>Front Office<br>Keen Learner</p>
                                <p class="px-2">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore nostrum
                                    nihil non autem fugit officia ullam ab quaerat voluptatum sapiente.</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-12 col-md-6 col-xl-4 text-center mb-4">
                    <div class="os-animation" data-animation="fadeInLeft" data-delay="0.2s">
                        <div class="card">
                            <img class="card-img-top" src="{% static 'core/img/team/Tuhen Profile Pic.png' %}"
                                alt="Shore Diving">
                            <div class="card-body">
                                <h2 class="card-title">Tuhen Ahmed</h2>
                                <p class="lead">PADI Rescue Diver<br>Boat Captain<br>Expert Seaman</p>
                                <p class="px-2">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore nostrum
                                    nihil non autem fugit officia ullam ab quaerat voluptatum sapiente.</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-12 col-md-6 col-xl-4 text-center mb-4">
                    <div class="os-animation" data-animation="fadeInRight" data-delay="0.2s">
                        <div class="card">
                            <img class="card-img-top" src="{% static 'core/img/team/Ravi Profile Pic.png' %}"
                                alt="Shore Diving">
                            <div class="card-body">
                                <h2 class="card-title">Ravi Mahesh</h2>
                                <p class="lead">PADI Dive Master<br>Boat Captain<br>Expert Guide</p>
                                <p class="px-2">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore nostrum
                                    nihil non autem fugit officia ullam ab quaerat voluptatum sapiente.</p>
                            </div>
                        </div>
                    </div>
                </div>

            </div> <!-- End of Row -->
        </div> <!-- End of Container -->
    </div> <!-- End of JumboTron -->

</section>

<!-- End Meet the Team Section -->

<!-- Start of Promo Video and Text -->

<section id="promo-video">



</section>

<!-- End promo video and text -->

<!-- Start Testimonial Section -->

<section id="testimonials">

    <div class="container-fluid text-center py-5">

        <div class="os-animation" data-animation="fadeInUp" data-delay="0.1s">
            <h1 class="header mb-4 text-dark">What Our Divers Say</h1>
            <div class="heading-underline"></div>
        </div>

        <div class="row">


            <div class="col-lg-6 card client-quote my-5">
                <div class="os-animation" data-animation="fadeIn" data-delay="0.2s">
                    <div class="row align-items-center ">
                        <div class="col-lg-5">
                            <img src="{% static 'core/img/testimonial/Boxer Shrimp.jpg' %}" alt=""
                                class="rounded card-img">
                        </div>
                        <div class="col-lg-7">
                            <i class="fa fa-quote-left fa-3x"></i>
                            <blockquote class="card-text d-inline"> Lorem ipsum dolor sit amet, consectetur adipisicing
                                elit. Labore nisi facere repellendus numquam, tempore nemo atque cum dolor dolores
                                impedit. Sed odit aut sint, expedita nesciunt cum asperiores unde! Autem!</blockquote>
                            <p class="lead pt-3">James Jones</p>
                        </div>
                    </div>
                </div>
            </div>


            <div class="col-lg-6 card client-quote my-5">
                <div class="os-animation" data-animation="fadeIn" data-delay="0.4s">
                    <div class="row align-items-center ">
                        <div class="col-lg-5">
                            <img src="{% static 'core/img/testimonial/sqr- 5.jpg' %}" alt="" class="rounded card-img">
                        </div>
                        <div class="col-lg-7">
                            <i class="fa fa-quote-left fa-3x"></i>
                            <blockquote class="card-text d-inline"> Lorem ipsum dolor sit amet, consectetur adipisicing
                                elit. Labore nisi facere repellendus numquam, tempore nemo atque cum dolor dolores
                                impedit. Sed odit aut sint, expedita nesciunt cum asperiores unde! Autem!</blockquote>
                            <p class="lead pt-3">Sarah Peters</p>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

</section>

<!-- End of Testimonilas -->

<!-- Social Media -->

<section id="social-media">

</section>

<!-- End Social Media -->





{% endblock %}