{% extends 'core/base.html' %} 
{% load static %}
 {% block extra_head %}
<style>
  .course-hero-image {
    background-image: url({%static "core/img/Untitled-2_0011_SandyBeachStaff.jpg" %});
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
  }

  @media (min-width: 400px) {
    .course-hero-image {
      background-image: url({%static "core/img/Untitled-2_0011_SandyBeachStaff.jpg" %});
    }
  }
</style>

{% endblock extra_head %} 
{% block content %}

<!-- Start of Landing Page Main Picture -->

<section id="course-detail-heading">
  <div class="course-hero-overlay">
    <div class="text-center title-text container">
      <h1 class="animated fadeInUp header">About Us</h1>
      <hr
        class="animated fadeIn my-5 bg-light w-50 shadow-lg ml-auto mr-auto"
      />
    </div>
  </div>
  <div class="course-hero-image"></div>
</section>

<!-- end hero image section -->

<!-- info section -->
<section>
  <div class="justify-content-center container course-info-section">
    <div class="text-center my-5">
      <h2 class="text-center pb-4">Learn more about Sandy Beach Dive Centre</h2>
      <div class="heading-underline"></div>
    </div>
    <!-- E-Learning Info row -->
    <div class="row course-info-row">
      <div class="col-md-6 d-flex align-items-center mb-4">
        <div class="course-info-text wow fadeInLeft">
          <h3 class="text-center pb-4">We're on the beach</h3>
          <div class="heading-underline"></div>
          <p>
            We’re based in the Sandy Beach Hotel & Resort, which is the longest
            operating resort in the area. Our instructors follow the latest
            training standards and the most cutting-edge teaching techniques and
            all of our equipment and dive boats are regularly serviced to ensure
            a safe and enjoyable diving experience.
          </p>
        </div>
      </div>

      <div class="col-md-6 text-center mb-4">
        <div class="course-info-img">
          <img
            src="{% static 'core/img/Untitled-2_0006_IMG_5579-2.jpg' %}"
            alt=""
          />
        </div>
      </div>
    </div>
    <!-- End E-Learning Info row -->

    <!-- Course Info row -->
    <div class="row course-info-row">
      <div class="col-md-6 d-flex align-items-center order-md-2 mb-3">
        <div class="course-info-text wow fadeInRight">
          <h3 class="text-center pb-4">5 Star PADI IDC</h3>
          <div class="heading-underline"></div>
          <p>
            We’re a PADI 5* IDC Resort, located within the Marine National Park
            directly in front of Snoopy Island. Sandy Beach Dive Centre prides
            itself on excellent customer service and training standards with a
            family environment where all divers feel welcome. There are daily
            diving trips & courses, to Dive Snoopy Island and other sites. We
            offer a full range of scuba diving services including Nitrox and
            Technical diving facilities. Snoopy Island is the only shore dive
            along the coast Fujairah coastline, it boasts abundant marine life
            including Blacktip Reef sharks and Resident Green Turtles.
          </p>
        </div>
      </div>
      <div class="col-md-6 text-center mb-3">
        <div class="course-info-img">
          <img src="{% static 'core/img/Blue Lined Snapper.jpg' %}" alt="" />
        </div>
      </div>
    </div>
    <!-- End Course Info row -->
  </div>
</section>

<!-- end info sections -->

<!-- Meet the Team -->

<section id="team">
  <div class="pb-5">
    <div class="container text-center wow fadeIn">
      <h2 class="header my-5 text-dark">Our Amazing Team</h2>
      <div class="heading-underline"></div>
      <div class="row justify-content-center align-content-center">

        <div class="col-12 col-md-6 col-xl-4 text-center mb-4">
        <div class="os-animation" data-animation="fadeInUp" data-delay="0.2s">
            <div class="card">
            <img
                class="card-img-top"
                src="{% static 'core/img/team/milan.jpeg' %}"
                alt="Shore Diving"
            />
            <div class="card-body">
                <h2 class="card-title">Milan Smole</h2>
                <p class="lead">
                    PADI IDC Staff Instructor<br />PADI Tec Deep Instructor<br />
                </p>
                <p class="px-2">Owner/Manager</p>
            </div>
            </div>
        </div>
        </div>

        <div class="col-12 col-md-6 col-xl-4 text-center mb-4">
          <div
            class="os-animation"
            data-animation="fadeInRight"
            data-delay="0.2s"
          >
            <div class="card">
              <img
                class="card-img-top"
                src="{% static 'core/img/team/lux.jpeg' %}"
                alt="Shore Diving"
              />
              <div class="card-body">
                <h2 class="card-title">Lux Rivas</h2>
                <p class="lead">
                    Rescue Diver<br />Front Office<br />
                </p>
                <p class="px-2">Rescue Diver</p>
              </div>
            </div>
          </div>
        </div>

        <div class="col-12 col-md-6 col-xl-4 text-center mb-4">
            <div
              class="os-animation"
              data-animation="fadeInLeft"
              data-delay="0.2s"
            >
              <div class="card">
                <img
                  class="card-img-top"
                  src="{% static 'core/img/team/carlos.jpg' %}"
                  alt="Shore Diving"
                />
                <div class="card-body">
                  <h2 class="card-title">Carlos Silva</h2>
                  <p class="lead">PADI MSDT</p>
                  <p class="px-2">Instructor</p>
                </div>
              </div>
            </div>
          </div>

        <div class="col-12 col-md-6 col-xl-4 text-center mb-4">
          <div
            class="os-animation"
            data-animation="fadeInLeft"
            data-delay="0.2s"
          >
            <div class="card">
              <img
                class="card-img-top"
                src="{% static 'core/img/team/Tuhen Profile Pic.png' %}"
                alt="Shore Diving"
              />
              <div class="card-body">
                <h2 class="card-title">Tuhen Ahmed</h2>
                <p class="lead">
                  PADI Rescue Diver<br />Boat Captain<br />
                </p>
                <p class="px-2">
                    Expert Seaman
                </p>
              </div>
            </div>
          </div>
        </div>

        <div class="col-12 col-md-6 col-xl-4 text-center mb-4">
          <div
            class="os-animation"
            data-animation="fadeInRight"
            data-delay="0.2s"
          >
            <div class="card">
              <img
                class="card-img-top"
                src="{% static 'core/img/team/connor.jpeg' %}"
                alt="Shore Diving"
              />
              <div class="card-body">
                <h2 class="card-title">Conner Watson</h2>
                <p class="lead">
                    PADI MSDT
                </p>
                <p class="px-2">
                    Instructor
                </p>
              </div>
            </div>
          </div>
        </div>

        <div class="col-12 col-md-6 col-xl-4 text-center mb-4">
          <div
            class="os-animation"
            data-animation="fadeInRight"
            data-delay="0.2s"
          >
            <div class="card">
              <img
                class="card-img-top"
                src="{% static 'core/img/team/cats.jpeg' %}"
                alt="Shore Diving"
              />
              <div class="card-body">
                <h2 class="card-title">Cats</h2>
                <p class="lead">
                    Diving Cats
                </p>
                <p class="px-2">
                    <br />Palias<br />
                    <br />Sarkie<br />
                </p>
              </div>
            </div>
          </div>
        </div>

      </div>
      <!-- End of Row -->
    </div>
    <!-- End of Container -->
  </div>
  <!-- End of JumboTron -->
</section>

<!-- End Meet the Team Section -->

<!-- Start Testimonial Section -->

{% endblock %}
