{% load static %}

{% load social_media %}


<!DOCTYPE html>
<html lang="en">

<head>

	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-118143460-2"></script>
	<script>
	  window.dataLayer = window.dataLayer || [];
	  function gtag(){dataLayer.push(arguments);}
	  gtag('js', new Date());

	  gtag('config', 'UA-118143460-2');
	</script>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="description" content="
    {% if seo_description %}
    {{ seo_description }}
    {% else %}
    Explore | Discover | Experience | PADI 5 Star IDC Resort |  Daily diving trips, PADI courses and diving equipment, join us for the best diving in Fujairah!
    {% endif %}">
    <meta name="keywords" content="
    {% if seo_keywords %}
    {{ seo_keywords }}
    {% else %}
    Fujairah scuba diving, dive fujairah, scuba dive
    {% endif %}">



    <!-- Social media tags -->

    <!-- <meta property="og:title" , content="">
    <meta property="og:description, content=""> -->
    <meta property="og:image" , content="{% og_image %}">

    <!-- end social media tags -->
    <title>
        {% if title %}
        {{ title }} - Sandy Beach Dive Centre | 2020
        {% else %}
        Sandy Beach Dive Centre | 2020
        {% endif %}
    </title>

    {% include 'core/style_links.html' %}

    {% block extra_head %}
    {% endblock extra_head %}

	<!-- Facebook Pixel Code -->
	<script>
	!function(f,b,e,v,n,t,s)
	{if(f.fbq)return;n=f.fbq=function(){n.callMethod?
	n.callMethod.apply(n,arguments):n.queue.push(arguments)};
	if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
	n.queue=[];t=b.createElement(e);t.async=!0;
	t.src=v;s=b.getElementsByTagName(e)[0];
	s.parentNode.insertBefore(t,s)}(window, document,'script',
	'https://connect.facebook.net/en_US/fbevents.js');
	fbq('init', '2153930954922179');
	fbq('track', 'PageView');
	</script>
	<noscript><img height="1" width="1" style="display:none"
	src="https://www.facebook.com/tr?id=2153930954922179&ev=PageView&noscript=1"
	/></noscript>
	<!-- End Facebook Pixel Code -->
</head>

<body>
    <div class="body">
        <!-- Navbar -->
        {% include 'core/navbar.html' %}

        <!-- Messages div -->
        {% if messages %}
        {% for message in messages %}
        <!-- <div class="alert-message container"> -->
        <div class="message-container">
            <div class="alert alert-{{ message.tags }} message my-auto" role="alert">
                {{ message }}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        </div>
        <!-- End message div -->
        {% endfor %}
        {% endif %}

        <main role="main">
            {% block content %}
            {% endblock content %}
        </main>




        <!-- Footer -->
        {% include 'core/footer.html' %}

        <!-- Include Scripts -->
        {% include 'core/scripts.html' %}

        {% block extra_scripts %}
        {% endblock extra_scripts %}
    </div>

</body>

</html>
