{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="description" content="
    {% if seo_description %}
    {{ seo_description }}
    {% else %}
    Explore | Discover | Experience | PADI 5 Star IDC Resort |  Daily Diving Trips, PADI Courses And Diving Equipment, Join Us For The The Best Diving In Fujairah!
    {% endif %}">
    <meta name="keywords" content="
    {% if seo_keywords %}
    {{ seo_keywords }}
    {% else %}
    Fujairah scuba diving, dive fujairah, scuba dive
    {% endif %}">

    <title>
        {% if title %}
        {{ title }} - Sandy Beach Dive Centre
        {% else %}
        Sandy Beach Dive Centre
        {% endif %}
    </title>

    {% include 'core/style_links.html' %}

    {% block extra_head %}
    {% endblock extra_head %}

</head>

<body>
    <div class="body">
        <!-- Navbar -->
        {% include 'core/navbar.html' %}

        <!-- Messages div -->
        {% if messages %}
        {% for message in messages %}
        <!-- <div class="alert-message container"> -->
        <div class="message-container">
            <div class="alert alert-{{ message.tags }} message my-auto" role="alert">
                {{ message }}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        </div>
        <!-- End message div -->
        {% endfor %}
        {% endif %}

        <main role="main">
            {% block content %}
            {% endblock content %}
        </main>




        <!-- Footer -->
        {% include 'core/footer.html' %}

        <!-- Include Scripts -->
        {% include 'core/scripts.html' %}

        {% block extra_scripts %}
        {% endblock extra_scripts %}
    </div>

</body>

</html>