{% extends 'core/base.html' %}

{% load crispy_forms_tags %}

{% block content %}

<section id="google-map">

    <div style="height: 65vh">
        <div class="title-text d-flex h-100 justify-content-center align-items-center">
            <h1>Google Map</h1>
        </div>
    </div>

</section>

<!-- End of Map -->

<!-- Start of Location cards -->

<section id="location-cards">

    <div class="row justify-content-center">
        <div class="col-11">
            <div class="row row-cards justify-content-center text-center text-dark">

                <div class="col-sm-12 col-lg-6 col-xl-3">
                    <div class="os-animation" data-animation="fadeInUp" data-delay="0.2s">
                        <div class="bg-light call shadow mx-4">
                            <i class="fas fa-phone fa-4x mt-4"></i>
                            <hr style="width: 50%">
                            <p>+971 50 206 2040</p>
                            <p>+971 244 5050</p>
                        </div>
                    </div>
                </div>

                <div class="col-sm-12 col-lg-6 col-xl-3">
                    <div class="os-animation" data-animation="fadeInUp" data-delay="0.4s">
                        <div class="bg-light email shadow mx-4">
                            <i class="fas fa-envelope fa-4x mt-4"></i>
                            <hr style="width: 50%">
                            <p>info@divesandybeach.com</p>
                        </div>
                    </div>
                </div>

                <div class="col-sm-12 col-lg-6 col-xl-3">
                    <div class="os-animation" data-animation="fadeInUp" data-delay="0.6s">
                        <div class="bg-light location shadow mx-4">
                            <i class="fas fa-street-view fa-4x mt-4"></i>
                            <hr style="width: 50%">
                            <p>Sandy Beach Hotel and Resort,<br>Al Aqah, Fujairah,<br>United Arab Emirates</p>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

</section>

<!-- End of Location Cards -->

<div class="container my-5">
    <div class="row justify-content-center">

        <div class="col-md-10 form-card bg-dark text-light mb-5 p-md-5">
            <div class="contact-heading mt-5">
                <h1>Send us a Message</h1>
                <div class="heading-underline"></div>
            </div>
            <form action="" method="POST">
                {% csrf_token %}
                {{ form.non_field_errors }}
                <div class="form-group">
                    <label for="{{ form.full_name.id_for_label }}">Diver name</label>
                    {{ form.full_name }}
                    {{ form.full_name.errors }}
                </div>
                <div class="form-group">
                    <label for="{{ form.full_name.id_for_label }}">Diver name</label>
                    {{ form.email }}
                    {{ form.email.errors }}
                </div>

                <div class="form-group mt-4">
                    <label for="{{  form.message.id_for_label }}">Enter a message</label>
                    {{ form.message }}
                    {{ form.message.errors }}
                </div>

                <div class="form-group text-center my-5">
                    <button type="submit" class="btn btn-success">Submit</button>
                </div>

            </form>
        </div>
    </div>
</div>

{% endblock content %}