{% load static %}

<footer>
    <div class="row justify-content-center footer-row">
        <div class="col-md-10">
            <div class="row py-3 text-center justify-content-center">
                <div class="col-md-6 col-xl-3 my-3">
                    <img src="{% static 'core/img/SBDC Logo and text Hotel all white.png' %}" class="bottom-logo"
                        alt="">
                </div>

                <div class="col-md-6 col-xl-3 my-3">
                    <p>Connect With Us</p>
                    <hr>
                    <ul class="list-unstyled connect text-large">
                        <li class="list-group-item"><i class="fas fa-phone"></i>+971 50 206 4050</li>
                        <li class="list-group-item"><i class="fas fa-inbox"></i> info@divesandybeach.com</li>
                        <li class="list-group-item social"><i class="fab fa-facebook-square fa-2x"></i><i
                                class="fab fa-instagram fa-2x"></i><i class="fab fa-youtube fa-2x"></i></li>
                    </ul>

                </div>


                <div class="col-md-6 col-xl-3 footer-links my-3">
                    <p>Site Links</p>
                    <hr>
                    <ul class="list-group">
                        <li class="list-group-item"><a href="#">Terms & Conditions</a></li>
                        <li class="list-group-item"><a href="#">Privacy Policy</a></li>
                        <li class="list-group-item"><a href="#">Site Map</a></li>
                        <li class="list-group-item"><a href="#">Contact Us</a></li>
                    </ul>
                </div>

                <div class="col-md-6 col-xl-3 footer-links my-3">
                    <p>Usefull Links</p>
                    <hr>
                    <ul class="list-group">
                        <li class="list-group-item"><a href="https://www.padi.com/">PADI.com</a></li>
                        <li class="list-group-item"><a
                                href="https://www.tide-forecast.com/locations/Khor-Al-Fakkan/forecasts/latest/six_day">Tide
                                Forcast</a></li>
                        <li class="list-group-item"><a href="http://sandybeachhotel.ae/">Sandy Beach Hotel & Resort</a>
                        </li>
                    </ul>
                </div>


            </div> <!-- End Row -->
            <hr>
            <p class="text-center">Sandy Beach Dive Centre &copy; 2020 </p>
        </div> <!-- End col 10 -->
    </div>
</footer>

<!-- DIGITAL AGENCY FOOTER -->

<!-- <footer id="footer">
    <div class="container">
        <div class="row py-5">
            <div class="col-md-4 d-flex justify-content-center justify-content-md-start mb-4 mb-lg-0">
                <a href="index.html" class="logo pr-0 pr-lg-3 pl-3 pl-md-0">
                    <img alt="Porto Website Template" src="img/logo-default-slim-dark.png" height="33">
                </a>
            </div>
            <div class="col-md-8 d-flex justify-content-center justify-content-md-end mb-4 mb-lg-0">
                <div class="row">
                    <div class="col-md-6 mb-3 mb-md-0">
                        <div class="ml-3 text-center text-md-right">
                            <h5 class="text-3 mb-0 text-color-light">NEW YORK</h5>
                            <p class="text-4 mb-0"><i class="fab fa-whatsapp text-color-primary top-1 p-relative"></i><span class="pl-1">(123) 465-7890</span></p>            
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="ml-3 text-center text-md-right">
                            <h5 class="text-3 mb-0 text-color-light">LOS ANGELES</h5>
                            <p class="text-4 mb-0"><i class="fab fa-whatsapp text-color-primary top-1 p-relative"></i><span class="pl-1">(123) 465-7890</span></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-copyright footer-copyright-style-2">
        <div class="container py-2">
            <div class="row py-4">
                <div class="col-md-4 d-flex align-items-center justify-content-center justify-content-md-start mb-2 mb-lg-0">
                    <p>© Copyright 2019. All Rights Reserved.</p>
                </div>
                <div class="col-md-8 d-flex align-items-center justify-content-center justify-content-md-end mb-4 mb-lg-0">
                    <p><i class="far fa-envelope text-color-primary top-1 p-relative"></i><a href="mailto:mail@example.com" class="opacity-7 pl-1">mail@example.com</a></p>
                    <ul class="footer-social-icons social-icons social-icons-clean social-icons-icon-light ml-3">
                        <li class="social-icons-facebook"><a href="http://www.facebook.com/" target="_blank" title="Facebook"><i class="fab fa-facebook-f"></i></a></li>
                        <li class="social-icons-twitter"><a href="http://www.twitter.com/" target="_blank" title="Twitter"><i class="fab fa-twitter"></i></a></li>
                        <li class="social-icons-linkedin"><a href="http://www.linkedin.com/" target="_blank" title="Linkedin"><i class="fab fa-linkedin-in"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer> -->


<!-- <footer id="footer" class="bg-color-light border-0 pt-5 mt-0">
    <div class="container pb-5 mb-5">
        <div class="row justify-content-center">
            <div class="col-md-9 col-lg-6">
                <h2 class="font-weight-normal text-color-dark text-center text-8 mb-4"><strong
                        class="font-weight-extra-bold">Contact</strong> Us</h2>
                <p class="text-4 opacity-8 text-center mb-4">Lorem ipsum dolor sit amet, consectetur adipiscing
                    elit. Phasellus blandit massa enim. Nullam id varius nunc. Vivamus bibendum</p>
                <form id="contactForm" class="contact-form form-style-3" action="php/contact-form.php"
                    method="POST">
                    <div class="contact-form-success alert alert-success d-none" id="contactSuccess">
                        Message has been sent to us.
                    </div>

                    <div class="contact-form-error alert alert-danger d-none" id="contactError">
                        Error sending your message.
                        <span class="mail-error-message text-1 d-block" id="mailErrorMessage"></span>
                    </div>

                    <input type="hidden" value="Contact Form" name="subject" id="subject">
                    <div class="form-row">
                        <div class="form-group col-md-6 pr-md-2">
                            <input type="text" value="" data-msg-required="Please enter your name."
                                maxlength="100" class="form-control" placeholder="Your Name..." name="name"
                                id="name" required>
                        </div>
                        <div class="form-group col-md-6 pl-md-2">
                            <input type="text" value="" data-msg-required="Please enter your phone."
                                maxlength="100" class="form-control" placeholder="Your Phone..." name="phone"
                                id="phone" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <input type="email" value="" data-msg-required="Please enter your email address."
                            data-msg-email="Please enter a valid email address." maxlength="100"
                            class="form-control" placeholder="Your Email Address..." name="email" id="email"
                            required>
                    </div>
                    <div class="form-row">
                        <div class="form-group col">
                            <textarea maxlength="5000" data-msg-required="Please enter your message." rows="4"
                                class="form-control" placeholder="Your Message..." name="message" id="message"
                                required></textarea>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col text-center">
                            <input type="submit" value="SUBMIT"
                                class="btn btn-primary font-weight-semibold text-3 px-5 btn-py-2"
                                data-loading-text="Loading...">
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="footer-copyright curved-border curved-border-top d-flex align-items-center">
        <div class="container py-2">
            <div class="row py-4">
                <div class="col text-center">
                    <p class="text-3">2018 © <strong class="font-weight-normal text-color-light opacity-7">Porto
                            Template</strong> - Copyright. All Rights Reserved.</p>
                </div>
            </div>
        </div>
    </div>
</footer> -->