{% load static %}

<footer>
    <div class="row justify-content-center footer-row">
        <div class="col-md-10">
            <div class="row py-3 text-center justify-content-center">
                <div class="col-md-6 col-xl-3 my-3">
                    <a href="{% url 'core:home' %}"><img
                            src="{% static 'core/img/SBDC Logo and text Hotel all white.png' %}" class="bottom-logo"
                            alt=""></a>
                </div>

                <div class="col-md-6 col-xl-3 my-3">
                    <p>Connect With Us</p>
                    <hr>
                    <ul class="list-unstyled connect text-large">
                        <li class="list-group-item"><i class="fas fa-phone"></i>+971 50 206 2440</li>
                        <li class="list-group-item">info@divesandybeach.com</li>
                        <li class="list-group-item social"><a target="blank"
                                href="https://www.facebook.com/divesandybeach" <i
                                class="fab fa-facebook-square mx-3 fa-2x"></i></a><a target="blank"
                                href="https://www.instagram.com/divesandybeach"><i
                                    class="fab fa-instagram fa-2x"></i></a></li>
                    </ul>

                </div>


                <div class="col-md-6 col-xl-3 footer-links my-3">
                    <p>Site Links</p>
                    <hr>
                    <ul class="list-group">
                        <li class="list-group-item"><a href="{% url 'diving:dive-site-list' %}">Dive Sites</a></li>
                        <li class="list-group-item"><a href="{% url 'diving:prices' %}">Prices</a></li>
                        <li class="list-group-item"><a href="{% url 'core:contact-us' %}">Contact Us</a></li>
                    </ul>
                </div>

                <div class="col-md-6 col-xl-3 footer-links my-3">
                    <p>Useful Links</p>
                    <hr>
                    <ul class="list-group">
                        <li class="list-group-item"><a target="blank" href="https://www.padi.com/">PADI.com</a></li>
                        <li class="list-group-item"><a target="blank"
                                href="https://www.tide-forecast.com/locations/Khor-Al-Fakkan/forecasts/latest/six_day">Tide
                                Forecast</a></li>
                        <li class="list-group-item"><a target="blank" href="http://sandybeachhotel.ae/">Sandy Beach
                                Hotel & Resort</a>
                        </li>
                    </ul>
                </div>


            </div> <!-- End Row -->
            <hr>
            <p class="text-center">Sandy Beach Dive Centre &copy; 2023 </p>
        </div> <!-- End col 10 -->
    </div>
</footer>