{% load static %}

<footer>
    <div class="row justify-content-center footer-row">
        <div class="col-md-10">
            <div class="row py-3 text-center justify-content-center">
                <div class="col-md-6 col-xl-3 my-3">
                    <img src="{% static 'core/img/SBDC Logo and text Hotel all white.png' %}" class="bottom-logo"
                        alt="">
                </div>

                <div class="col-md-6 col-xl-3 my-3">
                    <p>Connect With Us</p>
                    <hr>
                    <ul class="list-unstyled connect">
                        <li class="list-group-item"><i class="fas fa-phone"></i>+971 50 206 4050</li>
                        <li class="list-group-item"><i class="fas fa-inbox"></i> info@divesandybeach.com</li>
                        <li class="list-group-item social"><i class="fab fa-facebook-square"></i><i
                                class="fab fa-instagram"></i><i class="fab fa-youtube"></i></li>
                    </ul>

                </div>


                <div class="col-md-6 col-xl-3 footer-links my-3">
                    <p>Site Links</p>
                    <hr>
                    <ul class="list-group">
                        <li class="list-group-item"><a href="#">Terms & Conditions</a></li>
                        <li class="list-group-item"><a href="#">Privacy Policy</a></li>
                        <li class="list-group-item"><a href="#">Site Map</a></li>
                        <li class="list-group-item"><a href="#">Contact Us</a></li>
                    </ul>
                </div>

                <div class="col-md-6 col-xl-3 footer-links my-3">
                    <p>Usefull Links</p>
                    <hr>
                    <ul class="list-group">
                        <li class="list-group-item"><a href="https://www.padi.com/">PADI.com</a></li>
                        <li class="list-group-item"><a
                                href="https://www.tide-forecast.com/locations/Khor-Al-Fakkan/forecasts/latest/six_day">Tide
                                Forcast</a></li>
                        <li class="list-group-item"><a href="http://sandybeachhotel.ae/">Sandy Beach Hotel & Resort</a>
                        </li>
                    </ul>
                </div>


            </div> <!-- End Row -->
            <hr>
            <p class="text-center">Sandy Beach Dive Centre &copy; 2020 </p>
        </div> <!-- End col 10 -->
    </div>
</footer>