{% extends 'core/base.html' %}

{% block content %}

{% load static %}


<div role="main" class="main">

    <!-- Start of Landing Page Main Picture -->

    <div class="landing-fh-image">
        <div class="container d-flex h-100 justify-content-center">
            <div class="row align-content-center">
                <div class="col text-center title-text">
                    <div class="animated fadeInUp">
                        <h1 class="title-text mb-5">Scuba Diving in Fujairah</h1> <!-- PHP WP FUNCTION PAGE TITLE -->
                    </div>
                    <div class="animated fadeInUp ">
                        <p class="mb-5 mx-auto">Are you a certified diver? We would love to take you on your next
                            dive in
                            Fujairah. Click the button below to sign up for your next dive trip</p>
                    </div>
                    <div class="animated fadeInUp">
                        <a class="btn btn-primary btn-lg" href="{% url 'diving:booking-request' %}">Request a
                            booking</a>
                    </div>
                </div>
            </div>
        </div> <!-- End Container -->
        <div class="landing-dark-overlay"></div>
    </div>

    <!-- End of landing page main picture -->

    <!-- Start What we Specialize in Section -->

    <section id="specialize" class="py-5">
        <div class="container-lg">
            <div class="row px-2 justify-content-center mb-4">
                <div>
                    <h1 class="header mb-4 text-dark text-center text-shadow">We Specialize In</h1>
                    <div class="heading-underline"></div>
                </div>


            </div>
            <div class="card-deck text-center">

                <div class="card mb-5 wow fadeInLeft">
                    <a href="{% url 'diving:fun-diving' 'fujairah-boat-dive' %}"><img class="card-img-top"
                            src="{% static 'core/img/Pierre DSD Snoopy.jpg' %}" alt="Boat Diving"></a>
                    <div class="card-body">
                        <h2 class="card-title">Boat Diving</h2>
                        <p class="px-2">Daily double tank dive trips to our favorite dive sites along the Fujairah
                            coastline. You can check the Fujairah scuba diving cost on our prices page or our dive sites
                            on our dive sites page.</p>
                    </div>
                    <div class="card-footer border-top-0 bg-white">

                        <a href="{% url 'diving:fun-diving' 'fujairah-boat-dive' %}"
                            class="btn btn-success btn-lg my-3 mr-3">Learn More <i class="fa fa-chevron-right"
                                aria-hidden="true"></i></a>

                    </div>
                </div>

                <div class="card mb-5 wow fadeInUp">
                    <a href="{% url 'diving:fun-diving' 'dive-snoopy-island' %}"><img class="card-img-top"
                            src="{% static 'core/img/sqr- Co.jpg' %}" alt="Shore Diving"></a>
                    <div class="card-body">
                        <h2 class="card-title">Shore Diving</h2>
                        <p class="card-text">Dive around the famous Snoopy Island. The island is just a shore dive away,
                            scuba diving is near you in Fujairah, bring a buddy, set up your diving equipment and head
                            out to see the amazing marine life!</p>

                    </div>
                    <div class="card-footer border-top-0 bg-white">
                        <a href="{% url 'diving:fun-diving' 'dive-snoopy-island' %}"
                            class="btn btn-success btn-lg my-3 mr-3">Learn More <i class="fa fa-chevron-right"
                                aria-hidden="true"></i></a>

                    </div>
                </div>

                <div class="card mb-5 wow fadeInRight">
                    <a href="{% url 'diving:padi-course-list' %}"><img class="card-img-top"
                            src="{% static 'core/img/Lady in The Sand.jpg' %}" alt="PADI Courses"></a>
                    <div class="card-body">
                        <h2 class="card-title">PADI Courses</h2>
                        <p class="card-text">We are a leading PADI IDC Centre offering a full range of courses from
                            Beginner to Professional levels. Sign up for your e-learning or speak to one of our PADI
                            Instructors
                            for more information.</p>
                    </div>
                    <div class="card-footer border-top-0 bg-white">
                        <a href="{% url 'diving:padi-course-list' %}" class="btn btn-success btn-lg my-3 mr-3">Learn
                            More <i class="fa fa-chevron-right" aria-hidden="true"></i></a>
                    </div>
                </div>


            </div>
        </div>
</div> <!-- End of Row -->

</section>

<!-- End of What We Specialize in Section -->

<!-- Start of Dive Sites Call to Action -->
<section id="divesitecta">

    <div class="dive-site-cta-hero-bg">
        <div class="container ">
            <h2 class="title-text">Dive Sites</h2>
            <p class="my-4 text-lg-10">From wrecks to reefs, we dive it all! We know the best dive sites for spotting
                Blacktip Reef
                sharks, Turtles, Seahorses, Sting Rays, and if you’re lucky maybe even a Whaleshark! Check out all our
                sites to learn more about the dive sites along the Fujairah coastline.</p>
            <a class="btn btn-lg btn-success" href="{% url 'diving:dive-site-list' %}">Check Them Out <i
                    class="fa fa-chevron-right" aria-hidden="true"></i></a>
        </div>
    </div>

</section>



<!-- End of Dive Sites call to action -->

<!-- Our characterists Section -->

<section id="charateristics">
    <div class="container">
        <div class="row  align-content-center justify-content-center my-5">

            <div class="col-md-6 col-lg-4 text-center my-md-5 px-4">
                <div class="wow fadeIn">
                    <i class="fas fa-fish fa-4x mb-4"></i>
                    <h4>Marine Life</h4>
                    <hr class="w-50 mx-auto">
                    <p>Fujairah has the most abundant and diverse marine life in the UAE. Our dive sites are not
                        further
                        than 30 minutes drive by boat, they range from 12m - 30m, there are hard corals and soft corals
                        and a
                        variety
                        of Indian ocean reef fishes, Whalesharks also frequent our shores.</p>
                </div>
            </div>

            <div class="col-md-6 col-lg-4 text-center my-md-5 px-4">
                <div class="wow fadeIn">
                    <i class="fas fa-umbrella-beach fa-4x mb-4"></i>
                    <h5>Located On The Beach</h5>
                    <hr class="w-50 mx-auto">
                    <p>Located directly in front of Snoopy Island allows us the best shore diving in the UAE. We
                        are
                        based in Sandy Beach hotel and Resort on the east coast of the UAE, the Fujairah coastline
                        offers the best diving in the UAE with temperate to warm waters all year around.</p>
                </div>
            </div>



            <div class="col-md-6 col-lg-4 text-center my-md-5 px-4">
                <div class="wow fadeIn">
                    <i class="fas fa-ship fa-4x mb-4"></i>
                    <h4>Boat Diving</h4>
                    <hr class="w-50 mx-auto">
                    <p>We run two boat trips per day, our boat is dedicated for diving with all safety equipment
                        and
                        kit racks. Our boats cater for no more than 12 divers, each dive trip has a dedicated
                        Divemaster on board who will guide you around our favorite dive sites.</p>
                </div>
            </div>


            <div class="col-md-6 col-lg-4 text-center my-md-5 px-4">
                <div class="wow fadeIn">
                    <i class="fas fa-users fa-4x mb-4"></i>
                    <h4>Family Environment</h4>
                    <hr class="w-50 mx-auto">
                    <p>Being based in Sandy Beach Hotel and Resort provides our divers with the perfect family
                        environment. Divers can head out for a day of diving on the boat or from shore while their
                        families can enjoy the swimming pool or beach facilities.</p>
                </div>
            </div>

            <div class="col-md-6 col-lg-4 text-center my-md-5 px-4">
                <div class="wow fadeIn">
                    <i class="fas fa-star fa-4x mb-4"></i>
                    <h4>Service Excellence</h4>
                    <hr class="w-50 mx-auto">
                    <p>Being a 5-star PADI IDC Centre means we adhere to the latest training standards and teaching
                        techniques. All our dive guides and Instructors are PADI professionals who care for individual
                        diver needs and the environment.</p>
                </div>
            </div>

            <div class="col-md-6 col-lg-4 wow fadeIn text-center my-3 my-md-5 px-4">
                <div class="wow fadeIn">
                    <i class="fas fa-cogs fa-4x mb-4"></i>
                    <h4>Serviced Equipment</h4>
                    <hr class="w-50 mx-auto">
                    <p>We offer a full range of scuba diving equipment for rental, we also offer technical diving
                        facilities
                        with
                        Nitrox and oxygen. All of our equipment is regularly serviced and maintained to ensure diver
                        comfort and safety.</p>
                </div>
            </div>

        </div> <!-- End of Row -->
    </div> <!-- End of container fluid -->
</section>

<!-- End Our characterists Section -->

<!-- Start Partners section -->

<section id="partners">
    <div class="jumbotron">
        <div class="container-fluid text-center">

            <div class="os-animation" data-animation="fadeInUp" data-delay="0.1s">
                <h1 class="header mb-4 text-dark">Our Partners</h1>
                <div class="heading-underline"></div>
            </div>

            <div class="row">
                <div class="col-6 col-md-3 col-lg-2 partner-logo d-flex align-items-center mb-5 justify-content-center">
                    <a target="blank" href="https://www.padi.com/"><img
                            src="{% static 'core/img/logo/Partner-Logo_0005_PADI.png' %}" alt="PADI Logo"></a>
                </div>

                <div
                    class="col-6 col-md-3 col-lg-2 partner-logo  d-flex align-items-center mb-5 justify-content-center">
                    <a target="blank" href="https://www.padi.com/technical-courses"><img
                            src="{% static 'core/img/logo/Partner-Logo_0002_PADI-Tec-Rec.png' %}" alt="PADI Logo"></a>
                </div>

                <div
                    class="col-6 col-md-3 col-lg-2 partner-logo  d-flex align-items-center mb-5 justify-content-center">
                    <a target="blank" href="https://www.scubapro.com/"><img
                            src="{% static 'core/img/logo/Partner-Logo_0000_ScubaPro.png' %}" alt="PADI Logo"></a>
                </div>

                <div
                    class="col-6 col-md-3 col-lg-2 partner-logo  d-flex align-items-center mb-5 justify-content-center">
                    <a target="blank" href="https://www.projectaware.org/"><img
                            src="{% static 'core/img/logo/Partner-Logo_0004_Project-AWARE.png' %}" alt="PADI Logo"></a>
                </div>

                <div
                    class="col-6 col-md-3 col-lg-2 partner-logo  d-flex align-items-center mb-5 justify-content-center">
                    <a target="blank" href="https://www.emiratesdiving.com/"><img
                            src="{% static 'core/img/logo/Partner-Logo_0006_EDA.png' %}" alt="PADI Logo"></a>
                </div>

                <div
                    class="col-6 col-md-3 col-lg-2 partner-logo  d-flex align-items-center mb-5 justify-content-center">
                    <a target="blank" href="https://www.mares.com/en-IC/home/"><img
                            src="{% static 'core/img/logo/Partner-Logo_0001_Mares.png' %}" alt="PADI Logo"></a>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- End partners section -->



{% endblock content %}