{% extends 'core/base.html' %}

{% block content %}

{% load static %}


<div role="main" class="main">

    <!-- Start of Landing Page Main Picture -->

    <div class="landing-fh-image">
        <div class="container d-flex h-100 justify-content-center">
            <div class="row align-content-center">
                <div class="col text-center title-text">
                    <div class="os-animation" data-animation="fadeInUp" data-delay="0.2s">
                        <h1 class="title-text mb-5">Scuba Diving in Fujairah</h1> <!-- PHP WP FUNCTION PAGE TITLE -->
                    </div>
                    <div class="os-animation" data-animation="fadeInUp" data-delay="0.4s">
                        <p class="mb-5">Sign up for your next dive trip</p> <!-- PHP WP FUNCTION ACF -->
                    </div>
                    <div class="os-animation" data-animation="fadeInUp" data-delay="0.6s">
                        <a class="btn btn-outline btn-light text-1 font-weight-semibold text-uppercase px-5 btn-py-2 mb-3"
                            href="{% url 'diving:booking-request' %}">Request a booking</a>
                    </div>
                </div>
            </div>
        </div> <!-- End Container -->
        <div class="landing-dark-overlay"></div>
    </div>

    <!-- End of landing page main picture -->

    <!-- Start What we Specialize in Section -->

    <section id="specialize" class="py-5">

        <div class="container-fluid text-center min-vh-100">
            <div class="os-animation" data-animation="fadeInUp" data-delay="0.1s">
                <h1 class="header mb-4 text-dark text-shadow">We Specialize In</h1>
                <div class="heading-underline"></div>
            </div>
            <div class="row justify-content-center align-content-center mb-4">
                <div class="container">
                    <div class="card-deck">


                        <div class="card mb-5">
                            <img class="card-img-top" src="{% static 'core/img/Pierre DSD Snoopy.jpg' %}"
                                alt="Shore Diving">
                            <div class="card-body">
                                <h2 class="card-title">Boat Diving</h2>
                                <p class="px-2">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore
                                    nostrum
                                    nihil non autem fugit officia ullam ab quaerat voluptatum sapiente.</p>
                                <a class="btn btn-success btn-lg my-3">Save my space</a>
                            </div>
                        </div>

                        <div class="card mb-5">
                            <img class="card-img-top" src="{% static 'core/img/sqr- Co.jpg' %}" alt="Shore Diving">
                            <div class="card-body">
                                <h2 class="card-title">Shore Diving</h2>
                                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                                    Dolore
                                    nostrum nihil non autem fugit officia ullam ab quaerat voluptatum sapiente.</p>
                                <a class="btn btn-success btn-lg my-3">Save my space</a>
                            </div>
                        </div>

                        <div class="card os-animation" data-animation="fadeInRight" data-delay="0.5s">
                            <img class="card-img-top" src="{% static 'core/img/Lady in The Sand.jpg' %}"
                                alt="Shore Diving">
                            <div class="card-body">
                                <h2 class="card-title">PADI Courses</h2>
                                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                                    Dolore
                                    nostrum nihil non autem fugit officia ullam ab quaerat voluptatum sapiente.</p>
                                <a class="btn btn-success btn-lg my-3">Save my space</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div> <!-- End of Row -->

    </section>

    <!-- End of What We Specialize in Section -->

    <!-- Start of Dive Sites Call to Action -->
    <section id="divesitecta">

        <div class="dive-site-cta-hero-bg">
            <div class="container title-text">
                <h2>Dive Sites</h2>
                <p class="my-4">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga sapiente voluptas
                    atque id
                    beatae repellendus ipsam iste rerum laborum excepturi in nobis esse corrupti veniam
                    repellat, ab fugiat! Ullam, repellendus.</p>
                <a class="btn btn-lg btn-success">Check It Out</a>
            </div>
        </div>

    </section>



    <!-- End of Dive Sites call to action -->

    <!-- Our characterists Section -->

    <section id="charateristics">
        <div class="container">
            <div class="row min-vh-100 align-content-center justify-content-center my-5">

                <div class="col-md-6 col-lg-4 text-center px-4">
                    <div class="os-animation" data-animation="fadeIn" data-delay="0.1s">
                        <i class="fas fa-home fa-4x mb-4"></i>
                        <h5>Located On The Beach</h5>
                        <hr style="width: 50%">
                        <p>Located directly inforront of snoopy sialnd awards us the best shore diving in the UAE. We
                            are
                            based in Sandy Beach hotel and resort on the east coast of the UAE, the fujairah coastline
                            offers the best diving in the UAE with temperate to warm waters all year around. </p>
                    </div>
                </div>

                <div class="col-md-6 col-lg-4 text-center px-4">
                    <div class="os-animation" data-animation="fadeIn" data-delay="0.2s">
                        <i class="fas fa-fish fa-4x mb-4"></i>
                        <h4>Marine Life</h4>
                        <hr style="width: 50%">
                        <p>Fujairah has the most abundent and diverse marine life in the UAE. Our dive sites are not
                            futher
                            than 30min by boat, ranging from 12m - 30m there are hard corals and soft corals and a
                            variety
                            of indain ocean reef fishes, whalesharks frequent our shores</p>
                    </div>
                </div>

                <div class="col-md-6 col-lg-4 text-center px-4">
                    <div class="os-animation" data-animation="fadeIn" data-delay="0.3s">
                        <i class="fas fa-ship fa-4x mb-4"></i>
                        <h4>Boat Diving</h4>
                        <hr style="width: 50%">
                        <p>We run two boat trips pper day, our boat is dedicated for diving with all safety equipment
                            and
                            kit racks. Our boats caters for no more than 12 divers, each dive trip has a dedicated
                            divemaster on board who will guide you through our favourite dive sites.</p>
                    </div>
                </div>


                <div class="col-md-6 col-lg-4 text-center mt-4 px-4">
                    <div class="os-animation" data-animation="fadeIn" data-delay="0.1s">
                        <i class="fas fa-users fa-4x mb-4"></i>
                        <h4>Family Environment</h4>
                        <hr style="width: 50%">
                        <p>Being based in sandy beach hotel and resort provides our divers with the perfect family
                            environment. Divers can head out for a day of diving on the boat or from shore and their
                            families can enjoy the swiming pool or beach facilities.</p>
                    </div>
                </div>

                <div class="col-md-6 col-lg-4 text-center mt-4 px-4">
                    <div class="os-animation" data-animation="fadeIn" data-delay="0.2s">
                        <i class="fas fa-star fa-4x mb-4"></i>
                        <h4>Service Excellence</h4>
                        <hr style="width: 50%">
                        <p>Beign a 5-star PADI IDC centre means we adhere to the latest training standards and teaching
                            techniques. All our Diveguids and Instructors are PADI profesionals who care for individual
                            diver needs.</p>
                    </div>
                </div>

                <div class="col-md-6 col-lg-4 text-center my-5 px-4">
                    <div class="os-animation" data-animation="fadeIn" data-delay="0.3s">
                        <i class="fas fa-cogs fa-4x mb-4"></i>
                        <h4>Serviced Equimpment</h4>
                        <hr class="w-50 mx-auto">
                        <p>We offer a full range of scuba diving equipment for rental, we have tech diving facilities
                            with
                            nitrox and oxygen. All of our equipment is regulary serviced and mainted to the highest
                            quality
                            to ensure diver comfort and safety.</p>
                    </div>
                </div>

            </div> <!-- End of Row -->
        </div> <!-- End of container fluid -->
    </section>

    <!-- End Our characterists Section -->




    <!-- Start Partners section -->

    <section id="partners">
        <div class="jumbotron">
            <div class="container-fluid text-center">

                <div class="os-animation" data-animation="fadeInUp" data-delay="0.1s">
                    <h1 class="header mb-4 text-dark">Our Partners</h1>
                    <div class="heading-underline"></div>
                </div>

                <div class="row">
                    <div
                        class="col-6 col-md-3 col-lg-2 partner-logo d-flex align-items-center mb-5 justify-content-center">
                        <a href="#"><img src="{% static 'core/img/logo/Partner-Logo_0005_PADI.png' %}"
                                alt="PADI Logo"></a>
                    </div>

                    <div
                        class="col-6 col-md-3 col-lg-2 partner-logo  d-flex align-items-center mb-5 justify-content-center">
                        <a href="#"><img src="{% static 'core/img/logo/Partner-Logo_0002_PADI-Tec-Rec.png' %}"
                                alt="PADI Logo"></a>
                    </div>

                    <div
                        class="col-6 col-md-3 col-lg-2 partner-logo  d-flex align-items-center mb-5 justify-content-center">
                        <a href="#"><img src="{% static 'core/img/logo/Partner-Logo_0000_ScubaPro.png' %}"
                                alt="PADI Logo"></a>
                    </div>

                    <div
                        class="col-6 col-md-3 col-lg-2 partner-logo  d-flex align-items-center mb-5 justify-content-center">
                        <a href="#"><img src="{% static 'core/img/logo/Partner-Logo_0004_Project-AWARE.png' %}"
                                alt="PADI Logo"></a>
                    </div>

                    <div
                        class="col-6 col-md-3 col-lg-2 partner-logo  d-flex align-items-center mb-5 justify-content-center">
                        <a href="#"><img src="{% static 'core/img/logo/Partner-Logo_0006_EDA.png' %}"
                                alt="PADI Logo"></a>
                    </div>

                    <div
                        class="col-6 col-md-3 col-lg-2 partner-logo  d-flex align-items-center mb-5 justify-content-center">
                        <a href="#"><img src="{% static 'core/img/logo/Partner-Logo_0001_Mares.png' %}"
                                alt="PADI Logo"></a>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- End partners section -->



    {% endblock content %}