{% load static %}

<!-- <div class="top-scroll">
    <a href="#"><i class="fas fa-arrow-up fa-1.5x"></i></a>
</div> -->
<header>
    <div class="mobile-div">
        <div class="mobile-next-to"></div>
        <div class="mobile-menu bg-primary">
            <ul class="text-light">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'diving:shore-diving' %}"><i
                            class="fas text-info fa-swimmer mr-3"></i>Shore Diving</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'diving:boat-diving' %}"><i
                            class="fas text-info fa-ship mr-3"></i>Boat
                        Diving</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'diving:padi-course-list' %}"><i
                            class="fas text-info fa-burn mr-3"></i>PADI Courses</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'diving:dive-site-list' %}"><i
                            class="fas text-info fa-map-marked mr-3"></i>Dive Sites</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'diving:prices' %}"><i
                            class="fas text-info fa-money-bill-wave mr-3"></i>Prices</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'core:about-us' %}"><i
                            class="fas text-info fa-calendar-check mr-3"></i>About Us</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'core:contact-us' %}"><i
                            class="fas text-info fa-address-card mr-3"></i>Contact Us</a>
                </li>
            </ul>
        </div>
    </div>

    <nav class="my-navbar navbar navbar-expand-xl">
        <div class="container-fluid">
            <a class="navbar-brand align-content-start" href="{% url 'core:home' %}"><img
                    src="{% static 'core/img/logo.png' %}" alt="Sandy Beach Dive Centre Logo"></a>
            <button class="navbar-toggler" type="button" id="mobile-menu-btn"><span
                    class="custom-toggler-icon  ml-auto"><i class="fas text-white fa-bars"></i></span></button>
            <div class="collapse navbar-collapse">
                <ul class="navbar-nav ml-auto text-light">
                    <li class="nav-item dropdown">
                        <a data-toggle="dropdown" id="target-dropdown" class="nav-link dropdown-toggle" href="#">Dive
                            With
                            Us</a>
                        <div class="dropdown-menu bg-primary" aria-labelledby="target-dropdown">
                            <a class="nav-link dropdown-item" href="{% url 'diving:boat-diving' %}">Boat Diving</a>
                            <a class="nav-link dropdown-item" href="{% url 'diving:shore-diving' %}">Shore Diving</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a data-toggle="dropdown" id="target-dropdown-padi" class="nav-link dropdown-toggle"
                            href="">PADI
                            Courses</a>
                        <div class="dropdown-menu bg-primary" aria-labelledby="target-dropdown-padi">
                            {% for course_level in nav_course_levels %}
                            <a class="nav-link dropdown-item"
                                href="{{ course_level.get_nav_url }}">{{ course_level.title }}</a>
                            {% endfor %}
                            <a class="nav-link dropdown-item"
                                href="{% url 'diving:course-level-detail' 'padi-advanced-level' %}">Advanced Level</a>
                            <a class="nav-link dropdown-item"
                                href="{% url 'diving:course-level-detail' 'padi-pro-level' %}">Pro
                                Level</a>
                            <a class="nav-link dropdown-item"
                                href="{% url 'diving:course-level-detail' 'padi-specialty-level' %}">Specialties</a>
                            <a class="nav-link dropdown-item"
                                href="{% url 'diving:course-level-detail' 'padi-tech-level' %}">Technical</a>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'diving:dive-site-list' %}">Dive Sites</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'diving:prices' %}">Prices</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'core:about-us' %}">About Us</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'core:contact-us' %}">Contact Us</a>
                    </li>

                    <!-- {% if current_user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-item nav-link" href="#">Account</a>
                </li>
                <li class="nav-item">
                    <a class="nav-item nav-link" href="#">Logout</a>
                </li>
                {% else %}
                <li class="nav-item">
                    <a class="nav-item nav-link" href="#">Login</a>
                </li>
                {% endif %} -->
                </ul>

            </div>
    </nav>

</header>

<!-- <header id="header" class="header-transparent header-semi-transparent header-semi-transparent-dark header-effect-shrink"
    data-plugin-options="{'stickyEnabled': true, 'stickyEffect': 'shrink', 'stickyEnableOnBoxed': true, 'stickyEnableOnMobile': true, 'stickyChangeLogo': true, 'stickyStartAt': 30, 'stickyHeaderContainerHeight': 70}">
    <div class="header-body border-top-0 bg-dark box-shadow-none">
        <div class="header-container container container-xl">
            <div class="header-row">
                <div class="header-column">
                    <div class="header-row">
                        <div class="header-logo">
                            <a href="{% url 'core:home' %}">
                                <img alt="Porto" width="82" height="40" src="{% static 'core/img/logo.png' %}">
                            </a>
                        </div>
                    </div>
                </div>
                <div class="header-column justify-content-end">
                    <div class="header-row">
                        <div
                            class="header-nav header-nav-links header-nav-dropdowns-dark header-nav-light-text order-2 order-lg-1">
                            <div
                                class="header-nav-main header-nav-main-mobile-dark header-nav-main-square header-nav-main-dropdown-no-borders header-nav-main-effect-2 header-nav-main-sub-effect-1">
                                <nav class="collapse">
                                    <ul class="nav nav-pills" id="mainNav">
                                        <li>
                                            <a class="nav-link active" href="demo-digital-agency.html">
                                                Dive With Us
                                            </a>
                                        </li>
                                        <li>
                                            <a class="nav-link" href="demo-digital-agency-about.html">
                                                PADI Courses
                                            </a>
                                        </li>
                                        <li>
                                            <a class="nav-link" href="demo-digital-agency-services.html">
                                                Dive Sites
                                            </a>
                                        </li>
                                        <li>
                                            <a class="nav-link" href="demo-digital-agency-work.html">
                                                Prices
                                            </a>
                                        </li>
                                        <li>
                                            <a class="nav-link" href="demo-digital-agency-contact.html">
                                                About Us
                                            </a>
                                        </li>
                                        <li>
                                            <a class="nav-link" href="demo-digital-agency-contact.html">
                                                Contact
                                            </a>
                                        </li>
                                    </ul>
                                </nav>
                            </div>
                            <button class="btn header-btn-collapse-nav" data-toggle="collapse"
                                data-target=".header-nav-main nav">
                                <i class="fas fa-bars"></i>
                            </button>
                        </div>
                        <div class="ml-2 order-1 order-lg-2">
                            <ul class="header-social-icons social-icons d-none d-sm-block social-icons-clean ml-0">
                                <li class="social-icons-facebook"><a href="http://www.facebook.com/" target="_blank"
                                        title="Facebook"><i class="fab fa-facebook-f"></i></a></li>
                                <li class="social-icons-twitter"><a href="http://www.twitter.com/" target="_blank"
                                        title="Twitter"><i class="fab fa-twitter"></i></a></li>
                                <li class="social-icons-linkedin"><a href="http://www.linkedin.com/" target="_blank"
                                        title="Linkedin"><i class="fab fa-linkedin-in"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header> -->