{% load static %}

<!-- Favicon -->
<link rel="icon" type="x-icon" href="{% static 'core/img/favicon.png' %}" />

<!-- Vendor CSS -->
<!-- <link rel="stylesheet" href="{% static 'core/css/fa-all.min.css' %}"> -->

<link rel="stylesheet" href="{% static 'core/css/bootstrap-datetimepicker.min.css' %}">
<link rel="stylesheet" href="{% static 'core/css/animate.min.css' %}">

<!-- Custom CSS -->
<link rel="stylesheet" href="{% static 'core/css/main.css' %}">
<!-- <link rel="stylesheet" href="{% static 'core/css/main.min.css' %}"> -->