/* HSL */
$colorprimary: hsla(194%, 100%, 18%, 1);
$colorsecondary: hsla(185%, 100%, 23%, 1);
$colorinfo: hsla(163%, 39%, 26%, 1);
$coloralert: hsla(355%, 100%, 77%, 1);
$colordark: hsla(215%, 100%, 9%, 1);

/* RGB */
$primary: rgb(44, 192, 185);
$secondary: rgba(0, 109, 118, 1);
$info: rgba(0, 70, 92, 1);
$alert: rgba(255, 137, 146, 1);
$dark: rgba(0, 18, 44, 1);
$light-grey: rgba(230, 230, 230, 1);
$dark-grey: rgb(41, 41, 41);


body {
    background-color: black;
}